<%- include("header") -%>
<div class="download-section">
    <img class="pdf-logo" src="/img/pdf-logo.png" alt="pdf-logo">
    <span>Sample Notes</span>
    <button id="myButton">Download Now</button>
</div>
<script src="/js/index.js"></script>