<%- include("header") -%>

<h1 style="text-align: center;"> <%= file[0].Course %> </h1>
<br><br>
<% for(i=0;i< file.length; i++) { %>
<div class="download-section">
    <img class="pdf-logo" src="/img/pdf-logo.png" alt="pdf-logo">
    <span><%= file[i].FileName %></span> 
    <button id="<%= file[i]._id %>" class="myButton" >Download Now</button>
</div><br><br>
<% } %>
<script src="/js/index.js"></script>