<%- include("header") -%>

<br><br>
<a href="/upload">
    <div class="notesORcourse" >
        <span>Upload new Notes  </span>
    </div>
    
</a>

<br>
<a href="/uploadCourse">
    <div class="notesORcourse">
        <span >Upload new Course</span>
    </div>
</a>
