<%- include("header") -%>

<br><br>
<a class="selection-a" href="/upload">
    <div class="notesORcourse" >
        <span>Upload new Notes  </span>
    </div>
    
</a>

<br>
<a class="selection-a" href="/uploadCourse">
    <div class="notesORcourse">
        <span >Upload new Course</span>
    </div>
</a>
<br>
<a class="selection-a" href="/uploadVideo">
    <div class="notesORcourse">
        <span >Upload new Video</span>
    </div>
</a>
