<%- include("header") -%>

<h1 style="text-align: center;">Teacher's Section</h1>

<div class="upload-section">
    <h3>Attention! Please Upload small size video</h3>
    <form action="/uploadvideo" method="POST" enctype="multipart/form-data">
        <label for="Courses" style="text-align: center;"> Select Video </label>
        <input type="file" name='video'>
        <br>
      
            <br>
            <label for="Courses" style="text-align: center;"> Select Course : </label><br>
            <select style="text-align: center;" name="Course" id="">
                <% course.forEach((items)=>{ %>
                    <option value="<%= items.Course %>"> <%= items.Course %> </option>
                <% }) %>            
    
            </select>
            <br>
            <br>
        
        <button style="text-align: center;" type="submit">Upload</button>
        
    </form>
</div>