<%- include("header") -%>

<h1 style="text-align: center;">Teacher's Section</h1>

<div class="upload-section">
    <form action="/uploadCourse" method="POST" enctype="application/x-www-form-urlencoded">
        <label for="Courses" style="text-align: center;"> Enter New Course : </label>
        <input type="text" name="newCourse">
            <br>
            <br>
        
        <button style="text-align: center;" type="submit">Upload</button>
        
    </form>
</div>