<%- include('header') %>



    
<br>
<br>
<br>
<br>
<form action="/videopage" method="POST" id="videoform">
<% for(i=0;i< video.length; i++) { %>
    <div class="download-section">
        <img class="pdf-logo" src="/img/pdf-logo.png" alt="pdf-logo">
        <span><%= video[i].videoName  %></span> 
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
         
            <input style="display: none;" type="text" name="videoId" value="<%=video[i]._id %>">
        <button id="<%= video[i]._id %>" class="myButtonVideo" value="" type="button" >Play Now</button>
    
    </div><br><br>
    <% } %>
</form>

<script>
        
</script>