.logo{
    height: 20%;
    width: 20%;
}



.back-img{
    height: 50%;
    width: 50%;
}

h1{
    color: #7671de;

}

.left{
    position: relative;
    top: 200px;
    left: 20px;
    font-size: 80px;  
    font-family: 'Pacifico', cursive;

}

.right{
    position: relative;
    top: 100px;
    left: 1100px;
    font-size: 80px; 
    font-family: 'Pacifico', cursive;
}
.download-section{
    height: 100px;
    
   
    margin: auto;
    width: -webkit-fill-available;
    padding: 10px;
    border: 5px solid #000;
    font-size: 250%;
}

.pdf-logo{
    height: -webkit-fill-available;
}

.upload-section{
    height: 100px;
    width: 90px;
   
    margin: auto;
    width: 60%;
    padding: 10px;
   
    font-size: 250%;
}

.notesORcourse{
    height: fit-content;
    width: fit-content;
   
    margin: auto;
  
    padding: 10px;
    border: 5px solid #000;
    font-size: 250%;

}